@mixin specialField ($fontAwesomeIcon, $iconColor) {
  &:after {
    font-family: FontAwesome;
    content: $fontAwesomeIcon;
    font-size: $field-height - 40px;
    color: $iconColor;
    width: $field-width;
    height: $field-height - 15px;
    vertical-align: middle;
    display: inline-block;
    position: absolute;
    text-align: center;
    top: 15px;
  }
}

.game-map {
  position: relative;

  .field {
    position: absolute;
    width: $field-width;
    height: $field-height;
    background: #fff;
    color: #808080;
    text-align: center;
    padding: 0;
    font-size: 12px;
    float: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: background .2s;

    &:nth-of-type(1),
    &:nth-of-type(2),
    &:nth-of-type(3),
    &:nth-of-type(4),
    &:nth-of-type(5),
    &:nth-of-type(6),
    &:nth-of-type(7),
    &:nth-of-type(8),
    &:nth-of-type(9),
    &:nth-of-type(10),
    &:nth-of-type(22),
    &:nth-of-type(23),
    &:nth-of-type(24),
    &:nth-of-type(25),
    &:nth-of-type(26),
    &:nth-of-type(27),
    &:nth-of-type(28),
    &:nth-of-type(29),
    &:nth-of-type(30),
    &:nth-of-type(31) {
      border-left: 1px solid #eee;
    }

    &:nth-of-type(1),
    &:nth-of-type(40),
    &:nth-of-type(39),
    &:nth-of-type(38),
    &:nth-of-type(37),
    &:nth-of-type(36),
    &:nth-of-type(35),
    &:nth-of-type(34),
    &:nth-of-type(33),
    &:nth-of-type(32),
    &:nth-of-type(11),
    &:nth-of-type(12),
    &:nth-of-type(13),
    &:nth-of-type(14),
    &:nth-of-type(15),
    &:nth-of-type(16),
    &:nth-of-type(17),
    &:nth-of-type(18),
    &:nth-of-type(19),
    &:nth-of-type(20),
    &:nth-of-type(21) {
      border-bottom: 1px solid #eee;
    }

    .pawns-placeholder {
      height: 30px;
      background: #fafafa;
      position: absolute;
      width: 100%;
      opacity: 0;
      z-index: -1;
    }

    .ownership {
      visibility: hidden; // temporary!
      height: 18px;
      color: #eeeeee;
      transition: background 2s;
      &.free {
        background: #bbb;
        font-style: italic;
      }
    }

    &.field-start {
      @include specialField("\f11e", #dd5c2b);
    }

    &.field-finances {
      @include specialField("\f155", #cb3ab4);
    }

    &.field-fortune {
      @include specialField("\f29c", #62ac4e);
    }

    &.field-distance,
    &.field-doping {
      background: #333;
      @include specialField("\f05e", #68494d);
    }

    &.field-trainer {
      @include specialField("\f19d", #ac9a8b);
    }

    &.field-parking {
      @include specialField("\f1b9", #28a0f2);
    }

    &.field-vet {
      @include specialField("\f0f0", #6897d2);
    }

    &.field-transport,
    &.field-stables {
      @include specialField("\f0d1", #3daea8);
    }

    &.field-horse {

      &:after {
        font-size: $field-height - 40px;
        width: $field-width;
        height: $field-height - 15px;
        vertical-align: middle;
        display: inline-block;
        position: absolute;
        text-align: center;
        top: 15px;
        content: url('../../assets/horse.svg');
        opacity: 0.4;
      }

      .content {
        opacity: 0;
        background: #fff;
        display: block;
        z-index: 3;
        transition: all .3s;
        text-align: center;
      }
      &:hover {
        .content {
          opacity: 1;
        }
      }

      &.bet-available {
        background: #f5f500;
        &:hover {
          background-color: #ffff00;
        }
        cursor: pointer;
      }

      .field-label {
        font-weight: bold;
      }

      .fee-section {
        text-align: left;
      }
    }
  }

  .pawn {
    top: 0;
    left: 0;
    position: absolute;
    transition: top .6s, left .6s, bottom .6s, right .6s;
    display: block;
    width: 30px;
    height: 30px;
    background: red;
    z-index: 9999;
    text-align: center;
    line-height: 30px;
    border-radius: 100%;

    &#pawn-0 {
      margin-left: 0;
    }
    &#pawn-1 {
      margin-left: 10px;
    }
    &#pawn-2 {
      margin-left: 20px;
    }
    &#pawn-3 {
      margin-left: 30px;
    }
    &#pawn-4 {
      margin-left: 40px;
    }
    &#pawn-5 {
      margin-left: 50px;
    }
  }

}