$desk-size: 1200px;
$sidebar-size: 200px;

@mixin panel () {
  background: #fafafa;
  padding: 20px;
}

body {
  background: #aaa;
  box-shadow: 1px 1px 4px 1px #aaa;
  padding: 25px;
  display: flex;
  justify-content: space-between;

  > div {
    position: relative;
  }

  .main {
    width: 80%;
    display: inline-block;
    flex: 1;
    vertical-align: top;
  }

  .sidebar {
    width: calc(20% - 40px);
    display: inline-block;
    background: #ddd;
    padding: 10px;
    flex: 1;
    vertical-align: top;

    .box-info {
      @include panel;
      margin-bottom: 6px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }

  }

}

.bank {
  span {
    font-weight: bold;
    font-style: italic;
  }
}

.currentPlayer {
  span {
    font-weight: bold;
    font-style: italic;
  }
}

.game-map {
  @include panel;
  width: $desk-size;
  height: $desk-size;

  .field {
    width: 110px;
    height: 200px;
    color: white;
    display: inline-block;
    background: #ddd;
    text-align: center;
    padding: 10px 10px 0;
    margin: 15px;
    box-shadow: 1px 1px 4px 1px #aaa;
    font-size: 12px;
    float: left;

    &.field-start {
      background: indianred;
    }

    &.field-finances,
    &.field-fortune {
      background: lightgray;
    }

    &.field-distance,
    &.field-doping {
      background: #333;
    }

    &.field-trainer {
      background: gold;
    }
    
    &.field-parking {
      background: royalblue;
    }

    &.field-horse {

      .fee-section {
        text-align: left;
      }

      hr {
        margin: 1em;
      }

      &.stable-1 {
        background: #cb3600;
      }
      &.stable-2 {
        background: saddlebrown;
      }
      &.stable-3 {
        background: lightblue;
      }
      &.stable-4 {
        background: yellowgreen;
      }
      &.stable-5 {
        background: hotpink;
      }
      &.stable-6 {
        background: darkorange;
      }
      &.stable-7 {
        background: darkgreen;
      }
      &.stable-8 {
        background: darkviolet;
      }
    }
  }
}

