$desk-size: 1200px;
$sidebar-size: 200px;

$field-width: 120px;
$field-height: 90px;

$stable-1-color: #cb300c;
$stable-2-color: #b47923;
$stable-3-color: #5a7fdb;
$stable-4-color: #8bcf47;
$stable-5-color: #cf1cb4;
$stable-6-color: #f2ec00;
$stable-7-color: #227114;
$stable-8-color: #6c4bc0;


@mixin panel () {
  background: #fafafa;
  padding: 20px;
}

body {
  background: #aaa;
  box-shadow: 1px 1px 4px 1px #aaa;
  padding: 25px;
  display: flex;
  justify-content: space-between;

  > div {
    position: relative;
  }

  .main {
    width: 80%;
    display: inline-block;
    flex: 1;
    vertical-align: top;
  }

  .sidebar {
    position: absolute;
    top: 120px;
    left: 150px;
    width: 1020px;
    height: 750px;
    display: inline-block;
    background: #b5b5b5;
    padding: 10px;
    flex: 1;
    vertical-align: top;

    .box-info {
      @include panel;
      margin-bottom: 6px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }

  }

}

.bank {
  span {
    font-weight: bold;
    font-style: italic;
  }
}

.currentPlayer {
  span {
    font-weight: bold;
    font-style: italic;
  }
}

.game-map {
  position: relative;

  #field-1 {
    top: 0;
    left: (0 + $field-width * 0);
  }

  #field-2 {
    top: 0;
    left: (0 + $field-width * 1);
    .field-label {
      color: $stable-1-color;
    }
  }

  #field-3 {
    top: 0;
    left: (0 + $field-width * 2);
  }

  #field-4 {
    top: 0;
    left: (0 + $field-width * 3);
    .field-label {
      color: $stable-1-color;
    }
  }

  #field-5 {
    top: 0;
    left: (0 + $field-width * 4);
  }

  #field-6 {
    top: 0;
    left: (0 + $field-width * 5);
  }

  #field-7 {
    top: 0;
    left: (0 + $field-width * 6);
    .field-label {
      color: $stable-2-color;
    }
  }

  #field-8 {
    top: 0;
    left: (0 + $field-width * 7);
  }

  #field-9 {
    top: 0;
    left: (0 + $field-width * 8);
    .field-label {
      color: $stable-2-color;
    }
  }

  #field-10 {
    top: 0;
    left: (0 + $field-width * 9);
    .field-label {
      color: $stable-2-color;
    }
  }

  #field-11 {
    top: 0;
    left: (0 + $field-width * 10);
  }

  #field-12 {
    top: (0 + $field-height * 1);
    left: (0 + $field-width * 10);
    .field-label {
      color: $stable-3-color;
    }
  }

  #field-13 {
    top: (0 + $field-height * 2);
    left: (0 + $field-width * 10);
  }

  #field-14 {
    top: (0 + $field-height * 3);
    left: (0 + $field-width * 10);
    .field-label {
      color: $stable-3-color;
    }
  }

  #field-15 {
    top: (0 + $field-height * 4);
    left: (0 + $field-width * 10);
    .field-label {
      color: $stable-3-color;
    }
  }

  #field-16 {
    top: (0 + $field-height * 5);
    left: (0 + $field-width * 10);
  }

  #field-17 {
    top: (0 + $field-height * 6);
    left: (0 + $field-width * 10);
    .field-label {
      color: $stable-4-color;
    }
  }

  #field-18 {
    top: (0 + $field-height * 7);
    left: (0 + $field-width * 10);
  }

  #field-19 {
    top: (0 + $field-height * 8);
    left: (0 + $field-width * 10);
    .field-label {
      color: $stable-4-color;
    }
  }

  #field-20 {
    top: (0 + $field-height * 9);
    left: (0 + $field-width * 10);
    .field-label {
      color: $stable-4-color;
    }
  }

  #field-21 {
    top: (0 + $field-height * 10);
    left: (0 + $field-width * 10);
  }

  #field-22 {
    top: (0 + $field-height * 10);
    left: (0 + $field-width * 9);
    .field-label {
      color: $stable-5-color;
    }
  }

  #field-23 {
    top: (0 + $field-height * 10);
    left: (0 + $field-width * 8);
  }

  #field-24 {
    top: (0 + $field-height * 10);
    left: (0 + $field-width * 7);
    .field-label {
      color: $stable-5-color;
    }
  }

  #field-25 {
    top: (0 + $field-height * 10);
    left: (0 + $field-width * 6);
    .field-label {
      color: $stable-5-color;
    }
  }

  #field-26 {
    top: (0 + $field-height * 10);
    left: (0 + $field-width * 5);
  }

  #field-27 {
    top: (0 + $field-height * 10);
    left: (0 + $field-width * 4);
    .field-label {
      color: $stable-6-color;
    }
  }

  #field-28 {
    top: (0 + $field-height * 10);
    left: (0 + $field-width * 3);
    .field-label {
      color: $stable-6-color;
    }
  }

  #field-29 {
    top: (0 + $field-height * 10);
    left: (0 + $field-width * 2);
  }

  #field-30 {
    top: (0 + $field-height * 10);
    left: (0 + $field-width * 1);
    .field-label {
      color: $stable-6-color;
    }
  }

  #field-31 {
    top: (0 + $field-height * 10);
    left: (0 + $field-width * 0);
  }

  #field-32 {
    top: (0 + $field-height * 9);
    left: (0 + $field-width * 0);
    .field-label {
      color: $stable-7-color;
    }
  }

  #field-33 {
    top: (0 + $field-height * 8);
    left: (0 + $field-width * 0);
    .field-label {
      color: $stable-7-color;
    }
  }

  #field-34 {
    top: (0 + $field-height * 7);
    left: (0 + $field-width * 0);
  }

  #field-35 {
    top: (0 + $field-height * 6);
    left: (0 + $field-width * 0);
    .field-label {
      color: $stable-7-color;
    }
  }

  #field-36 {
    top: (0 + $field-height * 5);
    left: (0 + $field-width * 0);
  }

  #field-37 {
    top: (0 + $field-height * 4);
    left: (0 + $field-width * 0);
  }

  #field-38 {
    top: (0 + $field-height * 3);
    left: (0 + $field-width * 0);
    .field-label {
      color: $stable-8-color;
    }
  }

  #field-39 {
    top: (0 + $field-height * 2);
    left: (0 + $field-width * 0);
  }

  #field-40 {
    top: (0 + $field-height * 1);
    left: (0 + $field-width * 0);
    .field-label {
      color: $stable-8-color;
    }
  }

  .field {
    position: absolute;
    width: $field-width;
    height: $field-height;
    color: white;
    background: #ddd;
    text-align: center;
    padding: 0;
    //box-shadow: 1px 1px 4px 1px #aaa;
    border: 1px solid #eee;
    font-size: 12px;
    float: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .pawns-placeholder {
      height: 30px;
      background: #fafafa;
      position: absolute;
      width: 100%;
      opacity: 0;
      z-index: -1;
    }

    .ownership {
      height: 18px;
      color: #eeeeee;
      &.free {
        background: #bbb;
        font-style: italic;
      }
    }

    &.field-start {
      background: indianred;
    }

    &.field-finances,
    &.field-fortune {
      background: lightgray;
    }

    &.field-distance,
    &.field-doping {
      background: #333;
    }

    &.field-trainer {
      background: #8da7c7;
    }
    
    &.field-parking {
      background: royalblue;
    }

    &.field-horse {

      background: #f2f2f2;
      color: #333;

      .field-label {
        font-weight: bold;
      }

      .fee-section {
        text-align: left;
      }
    }
  }

  .pawn {
    top: 0;
    left: 0;
    position: absolute;
    transition: top .6s, left .6s, bottom .6s, right .6s;
    display: block;
    width: 30px;
    height: 30px;
    background: red;
    z-index: 9999;
  }

}

