$desk-size: 1200px;

$field-width: 105px;
$field-height: 80px;

$stable-1-color: #cb300c;
$stable-2-color: #b47923;
$stable-3-color: #5a7fdb;
$stable-4-color: #8bcf47;
$stable-5-color: #cf1cb4;
$stable-6-color: #f2ec00;
$stable-7-color: #227114;
$stable-8-color: #6c4bc0;

$player-0-color: #ff2c36;
$player-1-color: #68a1ff;
$player-2-color: #5dc01b;
$player-3-color: #ffdc10;
$player-4-color: #00fae3;
$player-5-color: #f07c00;