$desk-size: 1200px;

$field-width: 120px;
$field-height: 90px;

$stable-1-color: #cb300c;
$stable-2-color: #b47923;
$stable-3-color: #5a7fdb;
$stable-4-color: #8bcf47;
$stable-5-color: #cf1cb4;
$stable-6-color: #f2ec00;
$stable-7-color: #227114;
$stable-8-color: #6c4bc0;